USE [GymProDB]
GO
/****** Object:  Trigger [trg_InsertMember]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_InsertMember]
GO
/****** Object:  Trigger [trg_ReSeedTrainerId]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_ReSeedTrainerId]
GO
/****** Object:  Trigger [trg_DeleteUser_AfterMember]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_DeleteUser_AfterMember]
GO
/****** Object:  Trigger [trg_after_insert_member_memberships]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_after_insert_member_memberships]
GO
/****** Object:  Trigger [trg_PreventInsertIfFull]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_PreventInsertIfFull]
GO
/****** Object:  Trigger [trg_DecreaseCapacity]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_DecreaseCapacity]
GO
/****** Object:  Trigger [trg_ReSeedClassId]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_ReSeedClassId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT IF EXISTS [FK_Payments_Memberships1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT IF EXISTS [FK_Payments_Members]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Members]') AND type in (N'U'))
ALTER TABLE [dbo].[Members] DROP CONSTRAINT IF EXISTS [FK__Members__user_id__3A81B327]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member_Memberships]') AND type in (N'U'))
ALTER TABLE [dbo].[Member_Memberships] DROP CONSTRAINT IF EXISTS [FK_Member_Memberships_Memberships1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member_Memberships]') AND type in (N'U'))
ALTER TABLE [dbo].[Member_Memberships] DROP CONSTRAINT IF EXISTS [FK_Member_Memberships_Members]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member_Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Member_Classes] DROP CONSTRAINT IF EXISTS [FK_Member_Classes_Members1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member_Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Member_Classes] DROP CONSTRAINT IF EXISTS [FK_Member_Classes_Classes]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Classes] DROP CONSTRAINT IF EXISTS [FK_Classes_Trainers]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Classes] DROP CONSTRAINT IF EXISTS [FK_Classes_Levels]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Trainers]') AND type in (N'U'))
ALTER TABLE [dbo].[Trainers] DROP CONSTRAINT IF EXISTS [DF_Trainers_status]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Trainers]') AND type in (N'U'))
ALTER TABLE [dbo].[Trainers] DROP CONSTRAINT IF EXISTS [DF_Trainers_hire_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT IF EXISTS [DF_Payments_status]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT IF EXISTS [DF__Payments__paymen__5AEE82B9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Memberships]') AND type in (N'U'))
ALTER TABLE [dbo].[Memberships] DROP CONSTRAINT IF EXISTS [DF__Membershi__creat__5441852A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Members]') AND type in (N'U'))
ALTER TABLE [dbo].[Members] DROP CONSTRAINT IF EXISTS [DF_Members_date_created]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member_Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Member_Classes] DROP CONSTRAINT IF EXISTS [DF_Member_Classes_join_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Levels]') AND type in (N'U'))
ALTER TABLE [dbo].[Levels] DROP CONSTRAINT IF EXISTS [DF_Levels_name]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Classes] DROP CONSTRAINT IF EXISTS [DF_Classes_capacity]
GO
/****** Object:  Index [unique_username]    Script Date: 8/19/2025 8:19:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
ALTER TABLE [dbo].[Users] DROP CONSTRAINT IF EXISTS [unique_username]
GO
/****** Object:  Index [UQ_Membership_Name]    Script Date: 8/19/2025 8:19:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Memberships]') AND type in (N'U'))
ALTER TABLE [dbo].[Memberships] DROP CONSTRAINT IF EXISTS [UQ_Membership_Name]
GO
/****** Object:  Index [UQ_Class_Name_Schedule_Time_Trainer]    Script Date: 8/19/2025 8:19:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Classes]') AND type in (N'U'))
ALTER TABLE [dbo].[Classes] DROP CONSTRAINT IF EXISTS [UQ_Class_Name_Schedule_Time_Trainer]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Users]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Trainers]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Payments]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Memberships]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Members]
GO
/****** Object:  Table [dbo].[Member_Memberships]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Member_Memberships]
GO
/****** Object:  Table [dbo].[Member_Classes]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Member_Classes]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Levels]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 8/19/2025 8:19:00 PM ******/
DROP TABLE IF EXISTS [dbo].[Classes]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[schedule] [nvarchar](50) NULL,
	[time] [time](0) NULL,
	[capacity] [int] NULL,
	[max_capacity] [int] NULL,
	[trainer_id] [int] NOT NULL,
	[level_id] [int] NULL,
 CONSTRAINT [PK_Classes_1] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[level_id] [int] IDENTITY(1,1) NOT NULL,
	[level_name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Levels] PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Classes]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Classes](
	[user_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[join_date] [date] NULL,
 CONSTRAINT [PK_Member_Classes_1] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Memberships]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Memberships](
	[user_id] [int] NOT NULL,
	[membership_id] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
 CONSTRAINT [PK_Member_Memberships] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[membership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](10) NULL,
	[date_of_birth] [date] NULL,
	[description] [nvarchar](max) NULL,
	[date_created] [date] NULL,
 CONSTRAINT [PK__Members__B9BE370F80D11D2C] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[membership_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[duration] [int] NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Memberships] PRIMARY KEY CLUSTERED 
(
	[membership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[membership_id] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_date] [datetime] NULL,
	[payment_status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[trainer_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[specialization] [varchar](25) NULL,
	[hire_date] [date] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Trainers] PRIMARY KEY CLUSTERED 
(
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Users__3213E83F6B94F05A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([class_id], [name], [description], [schedule], [time], [capacity], [max_capacity], [trainer_id], [level_id]) VALUES (1, N'Calisthenics 101', N'Nhập môn calisthenic', N'Monday', CAST(N'18:00:00' AS Time), 0, 10, 1, 1)
INSERT [dbo].[Classes] ([class_id], [name], [description], [schedule], [time], [capacity], [max_capacity], [trainer_id], [level_id]) VALUES (2, N'Aerobic 102', NULL, N'Tuesday', CAST(N'07:00:00' AS Time), 0, 30, 3, 3)
INSERT [dbo].[Classes] ([class_id], [name], [description], [schedule], [time], [capacity], [max_capacity], [trainer_id], [level_id]) VALUES (3, N'Yoga 101', N'Nhập môn Yoga', N'Wednesday', CAST(N'17:00:00' AS Time), 0, 15, 2, 4)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Levels] ON 

INSERT [dbo].[Levels] ([level_id], [level_name]) VALUES (1, N'basic')
INSERT [dbo].[Levels] ([level_id], [level_name]) VALUES (2, N'standard')
INSERT [dbo].[Levels] ([level_id], [level_name]) VALUES (3, N'premium')
SET IDENTITY_INSERT [dbo].[Levels] OFF
GO
INSERT [dbo].[Member_Classes] ([user_id], [class_id], [join_date]) VALUES (2, 4, CAST(N'2025-08-19' AS Date))
GO
INSERT [dbo].[Member_Memberships] ([user_id], [membership_id], [start_date], [end_date]) VALUES (2, 1, NULL, NULL)
GO
INSERT [dbo].[Members] ([user_id], [full_name], [email], [phone], [date_of_birth], [description], [date_created]) VALUES (2, N'Tom Hong', N'tomhong2610@gmail.com', N'0344710809', CAST(N'2004-10-26' AS Date), N'Tăng cơ, tăng sức khỏe', CAST(N'2025-08-01' AS Date))
INSERT [dbo].[Members] ([user_id], [full_name], [email], [phone], [date_of_birth], [description], [date_created]) VALUES (3, N'Giong Hoang', N'hoanghai14152@gmail.com', N'0797425437', NULL, NULL, CAST(N'2025-08-02' AS Date))
INSERT [dbo].[Members] ([user_id], [full_name], [email], [phone], [date_of_birth], [description], [date_created]) VALUES (4, N'Cun Hong', N'cunhong1710@gmail.com', N'0379019446', NULL, NULL, CAST(N'2025-08-04' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Memberships] ON 

INSERT [dbo].[Memberships] ([membership_id], [name], [price], [duration], [created_at]) VALUES (1, N'Student', CAST(350000.00 AS Decimal(10, 2)), 30, CAST(N'2025-07-24T23:20:51.827' AS DateTime))
INSERT [dbo].[Memberships] ([membership_id], [name], [price], [duration], [created_at]) VALUES (2, N'StudentPlus', CAST(550000.00 AS Decimal(10, 2)), 90, CAST(N'2025-07-24T23:30:49.110' AS DateTime))
INSERT [dbo].[Memberships] ([membership_id], [name], [price], [duration], [created_at]) VALUES (3, N'Economy', CAST(750000.00 AS Decimal(10, 2)), 90, CAST(N'2025-08-12T22:24:06.213' AS DateTime))
SET IDENTITY_INSERT [dbo].[Memberships] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id], [user_id], [membership_id], [amount], [payment_date], [payment_status]) VALUES (1, 2, 1, CAST(350000.00 AS Decimal(10, 2)), CAST(N'2025-08-16T19:06:00.803' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([trainer_id], [full_name], [specialization], [hire_date], [status]) VALUES (1, N'Son Hanma', N'Calisthenics', CAST(N'2025-08-11' AS Date), 1)
INSERT [dbo].[Trainers] ([trainer_id], [full_name], [specialization], [hire_date], [status]) VALUES (2, N'Linh Ngoc', N'Yoga', CAST(N'2025-08-12' AS Date), 1)
INSERT [dbo].[Trainers] ([trainer_id], [full_name], [specialization], [hire_date], [status]) VALUES (3, N'Quynh Mai', N'Aerobic', CAST(N'2025-08-14' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Trainers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [role]) VALUES (1, N'admin', N'123', N'chuphong')
INSERT [dbo].[Users] ([id], [username], [password], [role]) VALUES (2, N'user1', N'123', N'member')
INSERT [dbo].[Users] ([id], [username], [password], [role]) VALUES (3, N'seedGiong', N'skibidi', N'member')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Class_Name_Schedule_Time_Trainer]    Script Date: 8/19/2025 8:19:00 PM ******/
ALTER TABLE [dbo].[Classes] ADD  CONSTRAINT [UQ_Class_Name_Schedule_Time_Trainer] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[schedule] ASC,
	[time] ASC,
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Membership_Name]    Script Date: 8/19/2025 8:19:00 PM ******/
ALTER TABLE [dbo].[Memberships] ADD  CONSTRAINT [UQ_Membership_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_username]    Script Date: 8/19/2025 8:19:00 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [unique_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Classes] ADD  CONSTRAINT [DF_Classes_capacity]  DEFAULT ((0)) FOR [capacity]
GO
ALTER TABLE [dbo].[Levels] ADD  CONSTRAINT [DF_Levels_name]  DEFAULT ('basic') FOR [level_name]
GO
ALTER TABLE [dbo].[Member_Classes] ADD  CONSTRAINT [DF_Member_Classes_join_date]  DEFAULT (getdate()) FOR [join_date]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[Memberships] ADD  CONSTRAINT [DF__Membershi__creat__5441852A]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_status]  DEFAULT ((0)) FOR [payment_status]
GO
ALTER TABLE [dbo].[Trainers] ADD  CONSTRAINT [DF_Trainers_hire_date]  DEFAULT (getdate()) FOR [hire_date]
GO
ALTER TABLE [dbo].[Trainers] ADD  CONSTRAINT [DF_Trainers_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Levels] FOREIGN KEY([level_id])
REFERENCES [dbo].[Levels] ([level_id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Levels]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Trainers] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainers] ([trainer_id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Trainers]
GO
ALTER TABLE [dbo].[Member_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Member_Classes_Classes] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Member_Classes] CHECK CONSTRAINT [FK_Member_Classes_Classes]
GO
ALTER TABLE [dbo].[Member_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Member_Classes_Members1] FOREIGN KEY([user_id])
REFERENCES [dbo].[Members] ([user_id])
GO
ALTER TABLE [dbo].[Member_Classes] CHECK CONSTRAINT [FK_Member_Classes_Members1]
GO
ALTER TABLE [dbo].[Member_Memberships]  WITH CHECK ADD  CONSTRAINT [FK_Member_Memberships_Members] FOREIGN KEY([user_id])
REFERENCES [dbo].[Members] ([user_id])
GO
ALTER TABLE [dbo].[Member_Memberships] CHECK CONSTRAINT [FK_Member_Memberships_Members]
GO
ALTER TABLE [dbo].[Member_Memberships]  WITH CHECK ADD  CONSTRAINT [FK_Member_Memberships_Memberships1] FOREIGN KEY([membership_id])
REFERENCES [dbo].[Memberships] ([membership_id])
GO
ALTER TABLE [dbo].[Member_Memberships] CHECK CONSTRAINT [FK_Member_Memberships_Memberships1]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK__Members__user_id__3A81B327] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK__Members__user_id__3A81B327]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Members] FOREIGN KEY([user_id])
REFERENCES [dbo].[Members] ([user_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Members]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Memberships1] FOREIGN KEY([membership_id])
REFERENCES [dbo].[Memberships] ([membership_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Memberships1]
GO
/****** Object:  Trigger [dbo].[trg_ReSeedClassId]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ReSeedClassId]
ON [dbo].[Classes]
AFTER DELETE
AS
BEGIN
    DECLARE @maxId INT;

    -- Get the highest remaining trainer_id
    SELECT @maxId = ISNULL(MAX(class_id), 0) FROM Classes;

    -- Reseed the identity to the current max
    DBCC CHECKIDENT ('Classes', RESEED, @maxId);
END;
GO
ALTER TABLE [dbo].[Classes] ENABLE TRIGGER [trg_ReSeedClassId]
GO
/****** Object:  Trigger [dbo].[trg_DecreaseCapacity]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DecreaseCapacity]
ON [dbo].[Member_Classes]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Classes
    SET capacity = CASE 
        WHEN capacity > 0 THEN capacity - 1 
        ELSE 0 
    END
    FROM Classes c
    JOIN DELETED d ON c.class_id = d.class_id;
END;
GO
ALTER TABLE [dbo].[Member_Classes] ENABLE TRIGGER [trg_DecreaseCapacity]
GO
/****** Object:  Trigger [dbo].[trg_PreventInsertIfFull]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PreventInsertIfFull]
ON [dbo].[Member_Classes]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra lớp nào đã đầy
    IF EXISTS (
        SELECT 1
        FROM INSERTED i
        JOIN Classes c ON i.class_id = c.class_id
        WHERE c.capacity >= c.max_capacity
    )
    BEGIN
        RAISERROR('Lớp đã đầy, không thể thêm thành viên mới.', 16, 1);
        RETURN;
    END

    -- Nếu lớp chưa đầy, cho phép insert và tăng capacity
    INSERT INTO Member_Classes (user_id, class_id)
    SELECT user_id, class_id
    FROM INSERTED;

    UPDATE c
    SET c.capacity = c.capacity + 1
    FROM Classes c
    JOIN INSERTED i ON c.class_id = i.class_id;
END;
GO
ALTER TABLE [dbo].[Member_Classes] ENABLE TRIGGER [trg_PreventInsertIfFull]
GO
/****** Object:  Trigger [dbo].[trg_after_insert_member_memberships]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_after_insert_member_memberships]
ON [dbo].[Member_Memberships]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Payments (user_id, membership_id, amount)
    SELECT 
        i.user_id,
        i.membership_id,
        m.price
    FROM 
        INSERTED i
    INNER JOIN 
        Memberships m ON i.membership_id = m.membership_id;
END;
GO
ALTER TABLE [dbo].[Member_Memberships] ENABLE TRIGGER [trg_after_insert_member_memberships]
GO
/****** Object:  Trigger [dbo].[trg_DeleteUser_AfterMember]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteUser_AfterMember]
ON [dbo].[Members]
AFTER DELETE
AS
BEGIN
    -- Xóa user có id trùng với user_id trong bản ghi vừa bị xóa ở Members
    DELETE u
    FROM Users AS u
    INNER JOIN deleted AS d ON u.id = d.user_id;

	DECLARE @maxId INT;
    SELECT @maxId = ISNULL(MAX(id), 0) FROM Users;
    DBCC CHECKIDENT ('Users', RESEED, @maxId);
END
GO
ALTER TABLE [dbo].[Members] ENABLE TRIGGER [trg_DeleteUser_AfterMember]
GO
/****** Object:  Trigger [dbo].[trg_ReSeedTrainerId]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ReSeedTrainerId]
ON [dbo].[Trainers]
AFTER DELETE
AS
BEGIN
    DECLARE @maxId INT;

    SELECT @maxId = ISNULL(MAX(trainer_id), 0) FROM Trainers;

    DBCC CHECKIDENT ('Trainers', RESEED, @maxId);
END;
GO
ALTER TABLE [dbo].[Trainers] ENABLE TRIGGER [trg_ReSeedTrainerId]
GO
/****** Object:  Trigger [dbo].[trg_InsertMember]    Script Date: 8/19/2025 8:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertMember]
ON [dbo].[Users]
AFTER INSERT
AS
BEGIN
  INSERT INTO Members (user_id)
  SELECT id
  FROM inserted
  WHERE role = 'member';
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [trg_InsertMember]
GO
